<div class="jumbotron">
  <h1 class="display-12">Plagiarism Checker</h1>
  <form action="/check" method="POST">
    <textarea class="form-control" name="content" rows="5" placeholder="Enter Your Content"></textarea>
    <input type="Submit" class="btn btn-primary m-3">
  </form>
</div>